<% @body_classes << 'assessing' if @body_classes%>
<% content_for :page_title do %>
<%= join_title @quiz.readable_type, @quiz.quiz_title %>
<% end %>
<% if !can_do(@context.quizzes.new, @current_user, :create)%>
    <% @headers = false
       @show_left_side = false %>
<% js_block do %>
    <script>

//        var message="Right Click Disabled!";
//        function clickIE4(){ if (event.button==2){ alert(message); return false; } }
//        function clickNS4(e){ if (document.layers||document.getElementById&&!document.all)
//        { if (e.which==2||e.which==3){ alert(message); return false; } } }
//        if (document.layers){ document.captureEvents(Event.MOUSEDOWN); document.onmousedown=clickNS4; }
//        else if (document.all&&!document.getElementById){ document.onmousedown=clickIE4; }
//        document.oncontextmenu=new Function("alert(message);return false")
//        var isNS = (navigator.appName == "Netscape") ? 1 : 0;
//
//        if(navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
//
//        function mischandler(){
//            return false;
//        }
//
//        function mousehandler(e){
//            var myevent = (isNS) ? e : event;
//            var eventbutton = (isNS) ? myevent.which : myevent.button;
//            if((eventbutton==2)||(eventbutton==3)) return false;
//        }
//        document.oncontextmenu = mischandler;
//        document.onmousedown = mousehandler;
//        document.onmouseup = mousehandler;
//        var isCtrl = false;
//        document.onkeyup=function(e)
//        {
//            if(e.which == 17)
//                isCtrl=false;
//        }
//
//        document.onkeydown=function(e)
//        {
//            if(e.which == 17)
//                isCtrl=true;
//            if(((e.which == 85) || (e.which == 117) || (e.which == 65) || (e.which == 97) || (e.which == 67) || (e.which == 99)) && isCtrl == true)
//            {
//// alert(‘Keyboard shortcuts are cool!’);
//                return false;
//            }
//        }//-------------------- initialise the webcam
    </script>
<% end %>
<% end %>
<% content_for :meta_tags do %>
  <% if !params[:persist_headless] %>
    <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=yes,width=device-width">
    <% js_env :MOBILE_UI => true %>
  <% end %>
<% end %>

<% content_for :right_side do %>
  <%= render "take_quiz_right_side" %>
<% end %>
<% jammit_css :quizzes, :tinymce %>

<header class="quiz-header">
  <h2><%= @quiz.quiz_title || @quiz.readable_type %></h2>
  <% if @submission.preview? %>
      <%  js_env :quiz_preview => true %>
    <% draft_preview_title = t('headers.draft_preview',
            "This is a preview of the draft version of the assessment") %>
    <h3>
      <i class="icon-warning" data-preview="preview"><span class="screenreader-only"><%= draft_preview_title %></span></i>
      <%= draft_preview_title %>
    </h3>
  <% else %>
      <%  js_env :quiz_preview => false %>
  <% end %>
  <%= before_label(:started, "Started") %>
  <%= datetime_string(@submission.started_at) %>
  <h2><%= t('quiz_instructions','Assessment Instructions') %></h2>
  <div id="quiz-instructions" class="user_content">
    <%= user_content(@quiz.description) %>
  </div>
</header>

<% js_bundle :take_quiz, :proctoring %>
<div class="row" style="display: none;">
  <div class="span4">
    <h2>Input</h2>
    <div id="webcam">
    </div>
  </div>

  <div class="span4">
    <h2>Output</h2>
    <canvas id="canvas"  height="240" width="320"></canvas>
  </div>
  <div class="span4">
    <h2>Face Detection</h2>
    <canvas id="output"  height="426" width="515"></canvas>
  </div>
  <button class="btn btn-primary btn-large" id="takeSnapshot"></button>
</div>

<div style="position: absolute;z-index: -1;display:none;">
  <!--<form name="quiz_proctoring_image_form" action="imageproctoring/proctoring" method="post" multipart = "true" id="proctoring_take_image">-->
    <%= form_for :attachment, :url => context_url(@current_user, :context_files_url, :format => 'json'), :html => {:id => "proctoring_take_image",:multipart => "true", :style => "display: none;"} do |f| %>
    <video id="video" value="" autoplay="true"></video>
      <%= f.file_field :uploaded_data %>
    <canvas id="canvas" name="image"></canvas>
    <input id="folder_id" type="text" value="<%= @current_user.profile_pics_folder.id %>" />
    <input id="startbutton " type="submit" />
<!--</form>-->
<% end %>
<!--<img src="http://placekitten.com/g/320/261" id="photo" alt="photo">-->
</div>

<%= form_tag @quiz_presenter.form_action(session, @current_user), :id => "submit_quiz_form", :class => @quiz_presenter.form_class, :method => "post" do %>

<div id="questions" class="assessing" ondragstart="return false" onselectstart="return false">
  <input type="hidden" name="attempt" value="<%= @submission.attempt %>"/>
  <% if @submission.validation_token.present? %>
    <input type="hidden" name="validation_token" value="<%= @submission.validation_token %>"/>
  <% end %>
  <% if @submission.preview? %>
    <input type="hidden" name="preview" value="1"/>
  <% end %>
  <div style="display: none;" id="quiz_urls">
    <a href="<%= context_url(@context, :backup_context_quiz_quiz_submissions_url, @quiz.id) %>?user_id=<%= @current_user && @current_user.id %><%= "&preview=1" if @submission.preview? %>" class="backup_quiz_submission_url">&nbsp;</a>
    <span class="started_at"><%= @submission.started_at.iso8601 %></span>
    <span class="now"><%= ActiveSupport::TimeWithZone.new(Time.now.utc, Time.zone).iso8601 %></span>
    <span class="end_at"><%= @submission.end_at && @submission.end_at.iso8601 %></span>
    <span class="time_limit"><%= @quiz.time_limit || nbsp %></span>
    <span class="time_left"><%= @submission.time_left %></span>
  </div>

  <%= render :partial => "display_question", :collection => @quiz_presenter.current_questions, :locals => {:assessing => true } %>

  <div class="button-container clearfix">
    <% if @quiz_presenter.one_question_at_a_time? %>
      <% if @quiz_presenter.previous_question_viewable? %>
        <% previous_question_button_title = t('buttons.previous', "Previous") %>
        <button type="submit" class="btn submit_button btn-secondary previous-question" data-action="<%= @quiz_presenter.previous_question_form_action(session, @current_user) %>" disabled>
          <i class="icon-mini-arrow-left"><span class="screenreader-only"><%= previous_question_button_title %></span></i>
          <%= previous_question_button_title %>
        </button>
      <% end %>

      <% if @quiz_presenter.next_question %>
        <% next_question_button_title = t('buttons.next', "Next") %>
        <%= hidden_field_tag :last_question_id, @quiz_presenter.current_question[:id] %>

        <button type="submit" class="btn submit_button btn-secondary next-question" data-action="<%= @quiz_presenter.next_question_form_action(session, @current_user) %>" disabled>
          <%= next_question_button_title %>
          <i class="icon-mini-arrow-right"><span class="screenreader-only"><%= next_question_button_title %></span></i>
        </button>
      <% end %>
    <% end %>
  </div>
</div>

<div style="font-size: 1.2em; display: none;" id="times_up_dialog">
  <%= before_label(:times_up, "Time's Up!  Submitting results in") %>
  <div style="text-align: center; font-size: 1.2em; margin: 10px;" class="countdown_seconds"></div>
  <div class="button-container">
    <button type="submit" class="submit_quiz_button btn quiz_submit">
      <%= t('buttons.out_of_time_submit', "Ok, fine") %>
    </button>
  </div>
</div>

<div class=form-actions>
  <span id="last_saved_indicator"><%= t("not_saved", "Not saved") %></span>
  <button type="submit" class="btn submit_button quiz_submit btn-secondary" id="submit_quiz_button" data-action="<%= @quiz_presenter.submit_form_action(session, @current_user) %>">
    <%= t('buttons.submit_quiz', "Submit Assessment") %>
  </button>
</div>

<% end %>
<%  js_env :folder_id => @current_user.profile_pics_folder.id %>
<div id="navigate_away" title="Navigating Away" style="display:none;">
  <div id="navigate_description"><%= @current_user.name %>,You had navigated away from the test window.
  <br/>
  </div>
  <div id="navigate_count"></div>
  <div class="navigate_permissible" style="display:none;">
    <div><p>You have exceeded the permissible limit for navigating away from your assessment.Your assessment has finished and it is submitted automatically.</p></div>
  </div>
  <button type="submit" class="btn btn-primary submit_button click_continue" id="navigate_button">Continue...</button>
</div>
<form id="deauthorized_dialog"
  class="hide"
  title="<%= t :login_required, "Login Required" %>"
  action="<%= course_quiz_path(@context, @quiz) %>"
  method="get">
  <div class="text-center">
    <%= t :logged_out_of_canvas,
          "*You have been logged out of Sublime.* To continue please log in",
          :wrapper => '<strong>\1</strong><br />' %>
  </div>
</form>

