<form>
  {{#with assignment_override}}
  <select class="section-list input-small" name="course_section_id" id="course_batch_id" aria-labelledby="overrides_course_section" >
  </select>
<!--
  <div class="date_field_container">
    <input value="{{! datetimeFormatted due_at}}" name="due_at" type="text"
    class="input-small date_field" aria-labelledby="overrides_due_date">
  </div>
-->
  <div class="date_field_container">
    <input name="unlock_at" value="{{datetimeFormatted unlock_at}}" type="text"
    class="date_field" aria-labelledby="overrides_unlock_at">
  </div>

  <div class="date_field_container to">
    <input name="lock_at" value="{{datetimeFormatted lock_at}}" type="text"
    class="date_field" aria-labelledby="overrides_lock_at">
  </div>
  {{#if ../shouldHideShowDate }}
  <div class="date_field_container correct_answer_at" style="display:block;">
      <input name="show_correct_answers_at" value="{{datetimeFormatted show_correct_answers_at}}" type="text"
      class="date_field value_empty" aria-labelledby="overrides_show_correct_answer_at">
  </div>

  <div class="date_field_container correct_answer_at" style="display:block;">
        <input name="hide_correct_answers_at" value="{{datetimeFormatted hide_correct_answers_at}}" type="text"
        class="date_field value_empty" aria-labelledby="overrides_hide_correct_answers_at">
  </div>
  {{else}}
    <div class="date_field_container correct_answer_at_css" style="display:none;">
        <input name="show_correct_answers_at" value="{{datetimeFormatted}}" type="text"
        class="date_field value_empty" aria-labelledby="overrides_show_correct_answer_at">
    </div>

    <div class="date_field_container correct_answer_at_css" style="display:none;">
          <input name="hide_correct_answers_at" value="{{datetimeFormatted}}" type="text"
          class="date_field value_empty" aria-labelledby="overrides_hide_correct_answers_at">
    </div>
  {{/if}}
  <div>
    <a
      href="#"
      class="remove-link"
      role="button"
      title='{{#t "overrides.remove_these_dates"}}Remove These Dates{{/t}}'
      aria-label='{{#t "overrides.remove_these_dates"}}Remove These Dates{{/t}}'
    ><i class="icon-end"></i>
    </a>
  </div>
  {{/with}}
</form>
