<%
   jammit_css :profile_show, :tinymce
   js_bundle  :profile_show
   @body_classes << "gradebook2 full-width" %>
<style>
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{margin-top:10px;}
    label{margin-top:15px;}
    .table th, .table td{padding:3px;}

</style>

<div style="width: 95%;margin: 0px auto;border: 1px solid #0088cc;padding: 10px;border-radius: 10px;">

  <% form_for :candidate_detail, :url => { :controller => "invitations", :action => "optional_register" } do |f| %>

      <div style="width: 100%;background-color: #1994D1;color:white;text-align: center;padding: 10px 0px;font-size: 22px;">Basic Informations</div>
      <table class="table" style="border: 1px solid #1994D1;">
        <%= f.text_field :id%>
        <tr><td><%= f.label :name, "First Name"%></td><td><%= f.text_field :name%></td>
         <td><%= f.label :middle_name, "Middle Name"%></td><td><%= f.text_field :middle_name%></td>
          <td><%= f.label :last_name, "Last Name"%></td><td><%= f.text_field :last_name%></td>
        </tr>
        <tr><td><%= f.label :gender, "Gender"%></td>
          <td style="padding-top: 17px;"><%= f.radio_button(:gender, "male") %>&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button(:gender, "female") %>&nbsp;&nbsp;Female</td>
          <td><%= f.label :birthdate, "Date Of Birth (DD-MM-YYYY)"%></td><td><%= f.text_field :birthdate%></td>
          <td><%= f.label :phone, "Contact number"%></td><td><%= f.text_field :phone%></td>

        </tr>
        <!--<tr><td><%#= f.label :email_id, "E-mail Id*" %></td>-->
        <!--<td><%#= f.text_field :@pseudonym.unique_id %></td><td></td><td></td><td></td><td></td></tr>-->
        <tr><td><%= f.label :address, "Address" %></td>
          <td colspan="5"><%= f.text_area :address, size: "24x2" %></td></tr>
        <tr>
          <td><%= f.label :city, "City" %></td><td><%= f.text_field :city%></td>
          <td><%= f.label :state, "State" %></td><td><%= f.text_field :state%></td>
          <td><%= f.label :zip_code, "Zip code" %></td><td><%= f.text_field :zip_code%></td>
        </tr>
      </table>
      <div style="width: 100%;background-color: #1994D1;color:white;text-align: center;padding: 10px 0px;font-size: 22px;">Academic Qualifications</div>
      <div class="profile_links">

        <div class="show-if-editing" style="border: 1px solid #1994D1;">
          <table id="edit_links_table" cellpadding="10">
            <thead>
            <th>Degree</th>
            <th>Discipline</th>
            <th>School/ College</th>
            <th>Year of Completion</th>
            <th>%/ CGPA</th>
            <th></th>
            </thead>
            <tbody id="qual_fields">
            <% @user_data.each do |link| %>
                <tr>
                  <td><input type="text" name="link_degrees[]" value="<%= link.degree %>"></td>
                  <td><input type="text" name="link_disciplines[]" value="<%= link.discipline %>"></td>
                  <td><input type="text" name="link_colleges[]" value="<%= link.college %>"></td>
                  <td><input type="text" name="link_year_of_completions[]" value="<%= link.year_of_completion %>"></td>
                  <td><input type="text" name="link_percentages[]" value="<%= link.percentage %>"></td>
                  <td><a href="#" data-event="removeLinkRow"><i class="icon-end"></i></a></td>
                </tr>

            <% end %>
            </tbody>
          </table>
          <button data-event="addQualField" class="btn btn-small" style="margin-left:10px;margin-bottom: 10px;">Add another Qualification</button>
          <br/>
        </div>
        <br/>
      </div>

      <div style="width: 100%;background-color: #1994D1;color:white;text-align: center;padding: 10px 0px;font-size: 22px;">Work Experience</div>

      <div class="profile_links">

        <div class="show-if-editing" style="border: 1px solid #1994D1;">
          <table id="edit_links_table" cellpadding="10">
            <thead>
            <th>Organization</th>
            <th>From(MM/YYYY)</th>
            <th>To(MM/YYYY)</th>
            <th>Designation</th>
            <th>Permanent/ contract</th>
            <th>Reason for leaving</th>
            <th></th>
            </thead>
            <tbody id="work_fields"></tbody>
          </table>

          <button data-event="addWorkField" class="btn btn-small" style="margin-left:10px;margin-bottom: 10px;">Add another Experience</button>

        </div>

      </div>
      <br/>
      <br/>
      <div style="text-align: center;"><%= f.submit "SUBMIT", class: "btn btn-small btn-primary" %>
      </div>
  <% end %>
</div>