<%
   jammit_css :profile_show, :tinymce
   js_bundle  :profile_show
   @body_classes << "gradebook2 full-width" %>
<!--<div id="new_form"></div>-->
<style>
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{margin-top:10px;}
    label{margin-top:15px;}
    .table th, .table td{border:none;padding:3px;}

</style>
<div style="width: 86%;margin: 0px auto;">

<% form_for :user, :url => { :controller => "invitations", :action => "optional_register" } do |f| %>
      <div style="width: 100%;background-color: #1994D1;color:white;text-align: center;padding: 10px 0px;font-size: 22px;">Basic Informations</div>
    <table class="table" style="border: 1px solid #1994D1;">
      <tr><td><%= f.label :name, "First Name"%></td><td><%= f.text_field :name%></td>
        <td><%= f.label :middle_name, "Middle Name"%></td><td><%= f.text_field :middle_name%></td>
        <td><%= f.label :last_name, "Last Name"%></td><td><%= f.text_field :last_name%></td>
      </tr>
      <tr><td><%= f.label :gender, "Gender"%></td>
        <td style="padding-top: 17px;"><%= f.radio_button(:gender, "male") %>&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button(:gender, "female") %>&nbsp;&nbsp;Female</td>
        <td><%= f.label :birthdate, "Date Of Birth (DD-MM-YYYY)"%></td><td><%= f.text_field :birthdate%></td>
        <td><%= f.label :phone, "Contact number"%></td><td><%= f.text_field :phone%></td>

      </tr>
      <!--<tr><td><%#= f.label :email_id, "E-mail Id*" %></td>-->
        <!--<td><%#= f.text_field :email_id%></td><td></td><td></td><td></td><td></td></tr>-->
      <tr><td><%= f.label :address, "Address" %></td>
        <td colspan="5"><%= f.text_area :address, size: "24x2" %></td></tr>
      <tr>
        <td><%= f.label :city, "City" %></td><td><%= f.text_field :city%></td>
        <td><%= f.label :state, "State" %></td><td><%= f.text_field :state%></td>
        <td><%= f.label :zip_code, "Zip code" %></td><td><%= f.text_field :zip_code%></td>
      </tr>
    </table>



    <!--<table class="table"><h4>Employment (Please mention in chronological order)</h4>-->
    <!--<tr><td>Organization</td><td>From(MM/YYYY)</td><td>To(MM/YYYY)</td><td>Designation</td><td>Permanent/ contract</td><td>Reason for leaving</td></tr>-->
    <!--<tr><td><%#= f.text_field :organization_a, :style=>"width:150px;"%></td>-->
    <!--<td><%#= f.text_field :from_a , :style=>"width:100px;"%></td>-->
    <!--<td><%#= f.text_field :to_a , :style=>"width:100px;"%></td>-->
    <!--<td><%#= f.text_field :designation_a, :style=>"width:150px;"%></td>-->
    <!--<td><%#= f.text_field :permanent_a, :style=>"width:150px;"%></td>-->
    <!--<td><%#= f.text_field :reason_a, :style=>"width:150px;"%></td>-->
    <!--</tr>-->
    <!--<tr><td><%#= f.text_field :organization_b, :style=>"width:150px;"%></td>-->
    <!--<td><%#= f.text_field :from_b , :style=>"width:100px;"%></td>-->
    <!--<td><%#= f.text_field :to_b , :style=>"width:100px;"%></td>-->
    <!--<td><%#= f.text_field :designation_b, :style=>"width:150px;"%></td>-->
    <!--<td><%#= f.text_field :permanent_b, :style=>"width:150px;"%></td>-->
    <!--<td><%#= f.text_field :reason_b, :style=>"width:150px;"%></td>-->
    <!--</tr>-->
    <!--</table>-->
      <div style="width: 100%;background-color: #1994D1;color:white;text-align: center;padding: 10px 0px;font-size: 22px;">Academic Qualifications</div>
    <div class="profile_links">

      <div class="show-if-editing" style="border: 1px solid #1994D1;">
        <table id="edit_links_table" cellpadding="10">
          <thead>
          <th>Degree</th>
          <th>Discipline</th>
          <th>School/ College</th>
          <th>Year of Completion</th>
          <th>%/ CGPA</th>
          <th></th>
          </thead>
          <tbody id="qual_fields"></tbody>
        </table>
        <button data-event="addQualField" class="btn btn-small" style="margin-left:10px;margin-bottom: 10px;">Add another Qualification</button>
        <br/>
      </div>
        <br/>
    </div>

    <div style="width: 100%;background-color: #1994D1;color:white;text-align: center;padding: 10px 0px;font-size: 22px;">Work Experience</div>
    <div class="profile_links">

      <div class="show-if-editing" style="border: 1px solid #1994D1;">
        <table id="edit_links_table" cellpadding="10">
          <thead>
          <th>Organization</th>
          <th>From(MM/YYYY)</th>
          <th>To(MM/YYYY)</th>
          <th>Designation</th>
          <th>Permanent/ contract</th>
          <th>Reason for leaving</th>
          <th></th>
          </thead>
          <tbody id="work_fields"></tbody>
        </table>

        <button data-event="addWorkField" class="btn btn-small" style="margin-left:10px;margin-bottom: 10px;">Add another Experience</button>

      </div>

    </div>
    <br/>
    <br/>
    <div style="text-align: center;"><%= f.submit "SUBMIT", class: "btn btn-small btn-primary" %>
    </div>
<% end %>
</div>