<% define_content :link do %>
  <%= HostUrl.protocol %>://<%= HostUrl.context_host(asset.course) %>/projects/<%= asset.course_id %>?invitation=<%= asset.uuid %>
<% end %>

<% define_content :subject do %>
  <%= t :subject, "Project Invitation" %>
<% end %>

<% website = HostUrl.context_host(asset.course) %>
<p><%= t :participate_in_class, "You've been invited to participate in a project at %{website}", :website => website %></p>
<p>
<%=
    case asset.type
    when 'TeacherEnrollment'
      t :body_teacher, "The project is called %{course}, and you've been invited to participate as a hiring manager.",
        :course => asset.course.name
    when 'TaEnrollment'
      t :body_ta, "The project is called %{course}, and you've been invited to participate as a interviewer.",
        :course => asset.course.name
    when 'ObserverEnrollment'
      t :body_observer, "The project is called %{course}, and you've been invited to participate as a HR.",
        :course => asset.course.name
    when 'DesignerEnrollment'
      t :body_designer, "The project is called %{course}, and you've been invited to participate as a designer.",
        :course => asset.course.name
    else
      t :body_student, "The project is called %{course}, and you've been invited to participate as a candidate.",
        :course => asset.course.name
    end
%>
</p>
<% email = asset.user.email; login = (asset.user.pseudonym.unique_id rescue "none") %>
<table border="0" style="font-size: 14px; color: #444444;
    font-family: 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif';
    border-collapse: collapse;">
    <tr>
        <td style="padding-right: 10px;"><%= t(:name, 'Name') %>:</td>
        <td style="font-weight: bold;"><%= asset.user.name %></td>
    </tr>
    <tr>
        <td style="padding-right: 10px"><%= t(:email, 'Email') %>:</td>
        <td style="font-weight: bold;"><%= email %></td>
    </tr>
    <% if email != login %>
      <tr>
          <td style="padding-right: 10px;"><%= t(:username, 'Username') %>:</td>
          <td style="font-weight: bold;"><%= asset.user.pseudonym.unique_id rescue t(:none, "none") %></td>
      </tr>
    <% end %>
</table>

<p><%= t :details, "You'll need to register with Sublime before you can participate in the project." %></p>

<p><a href="<%= content :link %>"><%= t :link, "Click here to get started" %></a></p>
